NEXT_PUBLIC_SUPABASE_URL=https://zmxqijyxarnrqwyvyarz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHFpanl4YXJucnF3eXZ5YXJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MDM3MjYsImV4cCI6MjEwNTE3OTcyNn0.0z_YXZWmGaesnKunRaE4pUT6Xws-lUI6LlMZ4Jwc1lw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpteHFpanl4YXJucnF3eXZ5YXJ6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTYwMzcyNiwiZXhwIjoyMTA1MTc5NzI2fQ.nN5WFadXRHVARMgf6f_htPR-RPLRKHXdTz7CHsxNVfw

Pass_baseSupebase=WBJXwc2aDpmlx77w
Proyect_name=oficioclaro